---
---
<!DOCTYPE html>
<html lang="en">

<!-- made by github.com/AidanRB -->

<head>
    <title>JOYCEANNA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css?{{ 'now' | date: '%s' }}">
    <link rel="shortcut icon" href="assets/favicon.png">
</head>

<body>
    <img src="assets/flowers.jpg" class="background">
    <div class="content-container">
        <div class="header">
            <img src="assets/joyceanna_crop.jpg" class="profile">
            <span class="title">JOYCEANNA</span>
        </div>
        <div class="links">
            {% for link in site.data.links %}
            <div class="link{% if link.bright %} bright{% endif %}" style="background: {{ link.color }}">
                <img src="assets/img/{{ link.id }}.svg">
                <a href="{{ link.url }}"></a>
                <span>{{ link.name }}</span>
            </div>
            {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        const documentHeight = () => {
            const doc = document.documentElement
            doc.style.setProperty('--doc-height', `${window.innerHeight}px`)
        }
        window.addEventListener('resize', documentHeight)
        documentHeight()
    </script>
</body>

</html>