@font-face {
    font-family: Comfortaa;
    src: url(assets/Comfortaa.ttf);
}

:root {
    --doc-height: 100%;
}

html {
    width: 100%;
    height: var(--doc-height);
}

body {
    display: grid;
    width: 100%;
    height: var(--doc-height);
    margin: 0;
    font-family: Comfortaa, sans;
    font-variation-settings: 'wght' 700;
    background: #222;
    overflow: hidden;
}

.background {
    width: 100%;
    height: var(--doc-height);
    object-fit: cover;
}

.content-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #222;
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #000a;
    text-align: center;
}

.header {
    margin: auto 0;
}

.profile {
    width: 200px;
    border-radius: 50%;
    border: 10px solid #fff;
    box-sizing: content-box;
}

.title {
    display: block;
    color: white;
    font-size: 50px;
    margin-top: 10px;
}

.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.section {
    color: #ddd;
    width: 95%;
    text-align: center;
    border-top: 1px solid #ddd;
    line-height: 0.1em;
    margin: 30px 0 10px;
    text-transform: uppercase;
}

.section:first-child {
    margin-top: 0;
}

.section span {
    background: #222;
    padding: 0 10px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link {
    position: relative;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
    transition: box-shadow .5s, transform .5s;
}

.link:hover {
    box-shadow: 0 4px 10px 2px black;
    transform: scale(1.1);
}

.link>a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.link>img {
    position: absolute;
    filter: contrast(0%) brightness(200%);
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}

.link.bright>img {
    filter: brightness(0%);
}

.link>span {
    position: absolute;
    top: 20px;
    left: 70px;
    font-size: 30px;
    color: #fff;
}

.link.bright>span {
    color: #000;
}

@media (orientation: portrait) {
    .content-container {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .content-container {
        transform: translate(-50%, -50%) scale(0.7);
    }
}

@media (max-height: 500px) {
    .content-container {
        transform: translate(-50%, -50%) scale(0.7);
    }
}

@media ((max-width: 350px)) {
    .content-container {
        transform: translate(-50%, -50%) scale(0.6);
    }
}